<header class = "title">


  <div class ="card-container">
   <div class = "instruction-wrap">
     <div class ="card">
       <div class = "back">
         <div class = "name-outline">
           <p class = "initials">CY</p>
         </div>
         <div class = "contact-me">
           <p class = "card-contact">contact me</p>
         </div>
         <div class = 'links'>
          <a href="mailto: chris@chrisyou.com"><i class="fa fa-envelope" aria-hidden="true" matTooltip="chris@chrisyou.com"></i></a>
           <a href="https://linkedin.com/in/hellochrisyou" target = "_blank" matTooltip="www.linkedin.com/in/hellochrisyou"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           <a href="https://github.com/hellochrisyou" target = "_blank" matTooltip="www.github.com/hellochrisyou"><i class="fa fa-github" aria-hidden="true"></i></a>
         </div>
       </div>
     </div>
    </div>
 </div>



</header>
