<div class="container animate__animated" id="background-container">
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-0" data-year="Languages">
          <div class="swiper-slide-content"><span class="timeline-year"></span>
            <h4 class="timeline-title">Programming Languages</h4>
            <div class="timeline-text">
              <div class="card-wrapper">
                <div class="card-details">
                  <code>
                        <span class="first-line">
                        <span class="variable">const </span><span class="function">aboutProgrammingLanguages</span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
                        </span>
                        <div class="indent"> <span class="property">primaryFrontEnd</span><span class="operator">{{':'}} </span><span class="string">'Typescript/Javascript'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">primaryBackend</span><span class="operator">{{':'}} </span><span class="string">'Java'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">other</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
                        <div class="indent2">
                          <span class="string">'SQL',
                          </span>
                          <span class="string">'HTML',
                            </span>
                            <span class="string">'CSS'
                              </span>
                        </div>
                        <div class="indent"> <span>{{ ']' }}</span> </div>
                        <div>{{ '}' }}</div>
                    </code>
                    </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-1" data-year="Platforms">
          <div class="swiper-slide-content"><span class="timeline-year"></span>
            <h4 class="timeline-title">Platforms</h4>
            <div class="timeline-text">
              <div class="card-wrapper">
                <div class="card-details">
                  <code>
                        <span class="first-line">
                        <span class="variable">const </span><span class="function">aboutPlatforms</span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
                        </span>
                        <div class="indent"></div>
                        <div class="indent"> <span class="property">developerTools</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
                        <div class="indent2">
                          <span class="string">'VsCode',
                          </span>
                          <span class="string">'Eclipse',
                            </span>
                            <span class="string">'Intelli-J'
                            </span>
                        </div>
                        <div class="indent"> <span>{{ '],' }}</span> </div>
                        <div class="indent"> <span class="property">operatingSystems</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
                        <div class="indent2">
                          <span class="string">'Windows',
                          </span>
                          <span class="string">'Linux'
                            </span>
                        </div>
                        <div class="indent"> <span>{{ ']' }}</span> </div>
                        <div>{{ '}' }}</div>
                    </code>
                    </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-2" data-year="Frameworks">
          <div class="swiper-slide-content"><span class="timeline-year"></span>
            <h4 class="timeline-title">Frameworks/Libraries</h4>
            <div class="timeline-text">
              <div class="card-wrapper">
                <div class="card-details">
                  <code>
                        <span class="first-line">
                        <span class="variable">const </span><span class="function">aboutFrameworks</span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
                        </span>
                        <div class="indent"></div>
                        <div class="indent"> <span class="property">primaryFrontEnd</span><span class="operator">{{':'}} </span><span class="string">'Angular 2+'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">primaryBackend</span><span class="operator">{{':'}} </span><span class="string">'Spring Boot'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">other</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
                        <div class="indent2">
                          <span class="string">'Bootstrap',
                          </span>
                          <span class="string">'Angular-Flex-Layout'
                            </span>
                        </div>
                        <div class="indent"> <span>{{ ']' }}</span> </div>
                        <div>{{ '}' }}</div>
                    </code>
                    </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-3" data-year="DBMS">
          <div class="swiper-slide-content"><span class="timeline-year"></span>
            <h4 class="timeline-title">Database Management Systems</h4>
            <div class="timeline-text">
              <div class="card-wrapper">
                <div class="card-details">
                  <code>
                        <span class="first-line">
                        <span class="variable">const </span><span class="function">aboutDBMS</span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
                        </span>
                        <div class="indent"></div>
                        <div class="indent"> <span class="property">primaryDBMS</span><span class="operator">{{':'}} </span><span class="string">'MySQL'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">secondaryDBMS</span><span class="operator">{{':'}} </span><span class="string">'SQL Server'</span><span>{{','}}</span></div>
                    </code>
                    </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slide-4" data-year="Source Control">
          <div class="swiper-slide-content"><span class="timeline-year"></span>
            <h4 class="timeline-title">Source Version Controls</h4>
            <div class="timeline-text">
              <div class="card-wrapper">
                <div class="card-details">
                  <code>
                        <span class="first-line">
                        <span class="variable">const </span><span class="function">aboutProgrammingLanguages</span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
                        </span>
                        <div class="indent"></div>
                        <div class="indent"> <span class="property">primarySVC</span><span class="operator">{{':'}} </span><span class="string">'GitHub'</span><span>{{','}}</span></div>
                        <div class="indent"> <span class="property">primarySVC</span><span class="operator">{{':'}} </span><span class="string">'GitLab'</span><span>{{','}}</span></div>
                        <div class="indent"> <span>{{ ']' }}</span> </div>
                        <div>{{ '}' }}</div>
                    </code>
                    </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
