span.container {
  height: 100%;
  min-width: 100vw;
  top: 0;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul li a {
  color: white;
  display: block;
  font-size: 22px;
  padding: 10px 15px 0;
  position: relative;
  text-decoration: none;
}

.header-wrapper div,
.header-wrapper div:after,
.header-wrapper div:before {
  transition: all .5s;
}


/* stroke */
.header-wrapper div {
  position: relative;
}

.header-wrapper div:after {
  background-color: goldenrod;
  bottom: 0;
  color: transparent;
  content: '.';
  height: 1px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0%;
}


.header-wrapper div:hover {
  background-color: transparent;
}

.header-wrapper div:hover:after {
  width: 100%;
}

.header-wrapper div {
  transition: all 2s;
}

.header-wrapper div:after {
  content: '';
  margin: 0;
  opacity: 0;
  text-align: left;
}

.header-wrapper div:hover {
  z-index: 311;
  cursor: pointer;
}

.header-wrapper div:hover:after {
  -moz-animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  animation: fill 1s forwards;
  opacity: 1;
  z-index: -1;
}

.row {
  background: #1C4B7F;
}

li a {
  color: black !important;
  font-weight: bolder;
}

main {
  width: 100vw;
}

.mat-tab-label-container .mat-tab-labels {
  background-color: transparent;
  border: 0;
  min-height: 5vh;
}

::ng-deep .mat-tab-label {
  color: white;
}

.tab-icon {
  margin-right: 0.4rem;
}

:host ::ng-deep .mat-tab-body-wrapper .mat-tab-body {
  background-color: transparent;
  margin-top: 2rem;
}

:host ::ng-deep #version-tabs .mat-tab-body-wrapper .mat-tab-body {
  margin-top: 4rem;
}

.header-wrapper {
  height: 100%;
}

.mat-toolbar-single-row {
  display: block;
}

mat-toolbar {
  background: #222146;
  box-shadow: none !important;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 300;
}

#left-spacer {
  float: left;
}

#mid-spacer {
  margin: 0 auto;
  padding-left: 3.5vw;
}

#right-spacer {
  float: right;
  margin-right: 1vw;
}

.b-a,
.bar,
.bar:before,
.bar:after {
  background-color: black;
  border-radius: 15px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  transition: all 0.25s;
  width: 30px;
}

.menu-collapsed {
  cursor: pointer;
  height: 36px;
  left: 9px;
  position: fixed;
  top: 10px;
  transition: all 0.25s;
  width: 36px;
  z-index: 1000;
}

.menu-collapsed ul {
  left: -9000px;
  position: fixed;
  transition: all 0;
}

.bar {
  left: 12px;
  position: fixed;
  top: 24px;
}

span#toolbar-title {
  font-family: "Dancing Script", cursive;
  margin-left: 25vw;
}

.bar:before {
  top: -8px;
}

.bar:after {
  top: 8px;
}

.b-a-expanded,
.menu-expanded .bar:before,
.menu-expanded .bar:after {
  transition: all 0.25s;
  top: 0;
}

.menu-expanded {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0;
  height: 100%;
  left: 0;
  line-height: 45px;
  padding-top: 40px;
  text-align: center;
  top: 0;
  transition: all 0.25s;
  width: 100%;
}

.menu-expanded ul {
  left: 0;
  position: relative;
  transition: all 0;
  z-index: 500;
}

.menu-expanded li {
  text-align: left;
}

.header-wrapper div {
  display: block;
  font-size: 2em;
  padding: 5px;
  text-decoration: none;
  transition: all 0.15s;
}

.header-wrapper div:hover {
  color: goldenrod;
  letter-spacing: 2px;
  transition: all 0.15s;
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}

.menu-expanded .bar:before {
  transform: rotate(45deg);
}

.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

a {
  cursor: pointer;
}

#logout {
  cursor: pointer;
}

.mat-tab-header {
  background-color: transparent;
  border-bottom: none;
}

.mat-tab-label {
  min-width: 15px !important;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 0.7rem !important;
  font-weight: 800;
}


//Splash Screen

main {
  flex: 1 0 auto;
  height: 100%;
  margin-top: -2rem;
}

h1.title,
.footer-copyright a {
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  font-weight: 900;
}

/* start welcome animation */

body.welcome {
  -webkit-font-smoothing: antialiased;
  background: transparent;
  min-height: 100vh;
  overflow: hidden;
}

.welcome .splash {
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  background-color: transparent;
  border-radius: 50%;
  border: 130em solid white;
  box-sizing: initial;
  display: block;
  height: 0px;
  left: 50%;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  top: 100%;
  transform: translate(-50%, -50%);
}

.welcome #welcome {
  background-color: #222146;
  width: 56px;
  height: 56px;
  position: absolute;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  border-radius: 50%;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.mat-toolbar.mat-primary {
  background-color: #222146;
}

/* moveIn */
.welcome header,
.welcome a.btn {
  animation: moveIn 2s 3.1s ease forwards;
  opacity: 0;
}

.portfolio-wrapper {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
}

@keyframes init {
  0% {
    height: 0px;
    width: 0px;
  }

  100% {
    height: 56px;
    margin-top: 0px;
    opacity: 1;
    width: 56px;
  }
}

@keyframes puff {
  0% {
    height: 0px;
    padding: 0px;
    top: 100%;
  }

  100% {
    height: 100%;
    padding: 0px 100%;
    top: 50%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #222146;

    top: 100%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 50%;
    background: #222146;
  }
}

@keyframes materia {
  0% {
    background: #222146;
  }

  50% {
    background: #222146;
    top: 26px;
  }

  100% {
    background: #222146;
    border-radius: 0px;
    height: 64px;
    top: 26px;
    width: 100%;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//End Splash Screen

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.4vw;
  }

  :host ::ng-deep .mat-tab-label {
    font-size: 0.75rem;
    max-width: 20vw;
    min-width: initial;
  }

  :host ::ng-deep .mat-tab-header {
    height: 9.5vw;
    min-height: 9.5vw;
  }

  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    height: 0.3vw;
    margin-bottom: 0.5vw;
  }

  :host ::ng-deep .mat-tab-label {
    font-size: 0.85rem;
    max-width: 15vw;
    min-width: initial;
  }

  :host ::ng-deep .mat-tab-header {
    height: 5rem;
    top: 4rem;
  }
}

@media only screen and (min-width: 1280px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 0.5vw;
  }

  :host ::ng-deep .mat-tab-label {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  :host ::ng-deep .mat-tab-label {
    // font-size: 0.85rem;
    max-width: 14.25vw;
    min-width: 10.25vw;
  }
}

@media only screen and (min-width: 2560px) {
  :host ::ng-deep .mat-tab-list .mat-ink-bar {
    margin-bottom: 1vw;
  }

  :host ::ng-deep .mat-tab-label {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 600px) {
  main {
    min-height: initial;
    margin-top: 0rem;
  }

  .header-wrapper div {
    font-size: 0.56em;
  }

  .mat-tab-list .mat-ink-bar {
    height: 0.95vw;
  }

  :host ::ng-deep .mat-tab-label {
    font-size: 0.6rem;
    max-width: 26vw;
    min-width: initial;
  }

  body {
    height: 100%;
    left: 0;
    overflow: auto !important;
    overflow: auto;
    position: absolute;
    width: 100vw;
  }

  main {
    left: 0;
    margin-top: 3vh;
    min-height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 250;
  }
  :host ::ng-deep .mat-tab-body-wrapper .mat-tab-body {
    background-color: transparent;
    margin-top: 0rem !important;
  }


}

