<div class="container">
  <div class="one-half left">
    <h1>About Me</h1>
    <!-- <p fxFlex class="excerpt">Ranging from my background to some of my favorite projects I have worked on, explore my professional details.</p> -->
      <a class="button cta" (click)="navigatePortfolio()">Learn</a>
  </div>
  <div class="one-half right">
    <h1>Developer</h1>
    <a (click)="navigateLiveProjects()" class="cta">Learn</a>
    <a (click)="openWebsiteMetrics('1000ms', '500ms')" class="metrics">Website Metrics</a>
  </div>
</div>
