<section>
  <div class="card-wrapper">
    <div class="card-details">
      <code>
        <span class="variable">const </span><span class="function">aboutProjectVersion{{data.versionNum}} </span><span class="operator">{{ '=' }} </span><span>{{ '{' }}</span>
        <div class="indent"> <span class="property">numberOfLinesOfCode</span><span class="operator">{{':'}} </span><span class="string">{{currentVersionDetailsCard.linesOfCode}}</span><span>{{','}}</span></div>
        <div class="indent"> <span class="property">timeInvested</span><span class="operator">{{':'}} </span><span class="string">{{currentVersionDetailsCard.hoursWorked}}</span></div>
        <div class="indent"> <span class="property">externalLibraries</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
        <div class="indent"> <span class="string" *ngFor="let libraryItem of currentVersionDetailsCard.externalLibraries; let i = index">'{{libraryItem}}'
          <span *ngIf="i !== currentVersionDetailsCard.externalLibraries!.length - 1">,</span></span></div><div class="indent"> <span>{{ ']' }}</span> </div>
        <div class="indent"> <span class="property">features</span><span class="operator">{{':'}} </span><span>{{ '[' }}</span></div>
        <div class="indent"> <span class="string" *ngFor="let featureItem of currentVersionDetailsCard.features; let i = index">'{{featureItem}}'
          <span *ngIf="i !== currentVersionDetailsCard.features!.length - 1">,</span></span></div><div class="indent"> <span>{{ ']' }}</span> </div>
        <div>{{ '}' }}</div>
        <div class="button-effect" fxLayout="column" fxLayoutAlign="center center" >
          <a fxFlex class="effect effect-5" href="{{versionLink}}" target = "_blank" matTooltip="{{versionLink}}">Visit Webpage</a>
        </div>
        <div echarts [options]="options" style="height:14rem"></div>
    </code>
    </div>
  </div>
</section>
