a {
  color: goldenrod;
  height: 2rem;
  font-weight: 300;
}

.button-effect {
  height: 2rem;
}

.effect {
  height: 2rem;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: goldenrod;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-top: 2px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  content: "ï”";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background: #1d1f20;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 30px;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

h5 {
  color: #E5005C;
  font-size: 0.7rem;
  font-weight: 800;
  text-align: center;
}

mat-chip-list.mat-chip-list {
  padding: 0.65rem;
}

// 2nd card
section {
  align-items: center;
  color: #444;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-height: 35rem;
  justify-content: center;
  line-height: 1.5;
  position: relative;
  width: calc(var(300px) * 1.586);
}

code, .card-wrapper {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.7rem;
  width: 16.5rem;
}

.card-wrapper {
  height: min-content;
  min-height: 35rem;
  perspective: 150rem;
  position: absolute;
  top: 0;
  width: 22frem;
}
.card-details {
  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  display: flex;
  min-height: 35rem;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
}

.card-details {
  background: #1d1f20;
  max-height: 33rem;
}
.card-details:after {
  color: #11181f;
}
.card-wrapper .line-numbers > div {
  opacity: 0.15;
  padding: 2.5px 0;
}
.card-wrapper code, .card-wrapper .line-numbers {
  color: whitesmoke;
}
.card-wrapper .indent {
  padding-left: 30px;
}
.card-wrapper .operator {
  color: #4dd0e1;
}
.card-wrapper .string {
  color: #9ccc65;
}
.card-wrapper .variable {
  color: #BA68C8;
}
.card-wrapper .property {
  color: #ef5350;
}
.card-wrapper .method {
  color: #29b6f6;
}
.card-wrapper .function {
  color: #FDD835;
}
.card-wrapper .boolean {
  color: #4dd0e1;
}
