<mat-tab-group class="animate__animated" id="version-tabs" class="hidden-tab-group" mat-align-tabs="center"
  [selectedIndex]="setVersionIndex()">
  <mat-tab class="hidden-tabs" label="2017">
    <div class="container">
      <div class="button_container">
        <button class="btn mat-elevation-z6" (click)="openVersionDetailsDialog('1000ms', '500ms', 1)"><span>See Project Details</span></button>
      </div>
      </div>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <img class="mat-elevation-z17" src="https://storage.googleapis.com/static-images-703/chris_you_website_v1.gif">
    </div>
  </mat-tab>
  <mat-tab class="hidden-tabs" label="2018">
    <div class="container">
      <div class="button_container">
        <button class="btn mat-elevation-z6" (click)="openVersionDetailsDialog('1000ms', '500ms', 2)"><span>See Project Details</span></button>
      </div>
      </div>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <img class="mat-elevation-z6" src="https://storage.googleapis.com/static-images-703/chris_you_website_v2.gif" />
    </div>
  </mat-tab>
  <mat-tab class="hidden-tabs" label="2019">
    <div class="container">
      <div class="button_container">
        <button class="btn mat-elevation-z6" (click)="openVersionDetailsDialog('1000ms', '500ms', 3)"><span>See Project Details</span></button>
      </div>
      </div>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <img class="mat-elevation-z6" src="https://storage.googleapis.com/static-images-703/chris_you_website_v3.gif" />
    </div>
  </mat-tab>
  <mat-tab class="hidden-tabs" label="2020">
    <div class="container">
      <div class="button_container">
        <button class="btn mat-elevation-z6" (click)="openVersionDetailsDialog('1000ms', '500ms', 4)"><span>See Project Details</span></button>
      </div>
      </div>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <img class="mat-elevation-z6" src="https://storage.googleapis.com/static-images-703/chris_you_website_v4.gif" />
    </div>
  </mat-tab>
  <mat-tab class="hidden-tabs" label="2021">
    <div class="container">
      <div class="button_container">
        <button class="btn mat-elevation-z6" (click)="openVersionDetailsDialog('1000ms', '500ms', 5)"><span>See Project Details</span></button>
      </div>
      </div>
    <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <img class="mat-elevation-z6" src="https://storage.googleapis.com/static-images-703/chris_you_website_v5.gif" />
    </div>
  </mat-tab>
</mat-tab-group>
